<footer class="bg-grey-3 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/marques-reduc.svg" alt="Marques Reduc logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">S'inscrire à la newsletter</p>
			<p>Recevez de superbes nouvelles de notre part dans votre boîte aux lettres électronique toutes les deux semaines. Soyez les premiers à être informés des nouveaux produits.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Marques Reduc</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<!-- <li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li> -->
					<li><a href="/post" class="link">Offres</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<!-- <div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div> -->

			<!-- <div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div> -->

		</div>
	</div>

</footer>

{{ partial "svg" . }}
